### Node.js ###
# Dependency directories
node_modules/

# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

### Eclipse ###
.metadata
/bin
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.recommenders

# JDT-specific (Eclipse Java Development Tools)
.classpath

# sbteclipse plugin
.target
target/

### Maven ###
.mvn/
mvnw
mvnw.cmd
*.versionsBackup

# Misc
.DS_Store
.fleet

### IntelliJ ###
.idea
*.iws
*.iml
*.ipr

### Visual Studio Code ###
.vscode/

*.class
.project
**/META-INF/

# Node dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*


.npmrc